.cta-section {
  background-color: var(--purple);
  background-image: linear-gradient(90deg, var(--purple), var(--blue));
}

.cta-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.cta-section h2 {
    color: var(--white);
    font-size: 2rem;
}

.cta-section .cta-button-main {
    background: var(--white);
    color: var(--purple);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.cta-section .cta-button-main:hover {
    background: var(--light-text);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0, 0.3);
}